.dangers-of-self-solving {
  .title {
    position: relative;
  }
  .border {
    width: 301px;
    margin-left: 20px;
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    gap: 48px;

    @include mobile {
      flex-wrap: nowrap;
      gap: 0;
    }

    @include tablet {
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  .swiper-slide {
    @include desktop {
      width: calc((100% / 3 - 48px));
    }

    @include mobile {
      width: 100%;
      min-height: auto;
    }

    @include tablet {
      width: 100%;
      min-height: auto;
    }
  }
}
