.dangers-of-self-solving {
  .flex {
    @include responsive(mobile, tablet) {
      display: block;
    }
  }

  .title {
    position: relative;
  }
  .border {
    width: 301px;
    margin-left: 20px;

    @include responsive(mobile, tablet) {
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    gap: 48px;

    @include responsive(mobile, tablet) {
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  .swiper-slide {
    @include desktop {
      width: calc((100% / 3 - 48px));
    }

    @include responsive(mobile, tablet) {
      width: 100%;
      min-height: auto;
    }
  }
}
