.legal-aspects {
  .flex {
    @include responsive(mobile, tablet) {
      display: block;
    }
  }

  .border3 {
    @include desktop {
      width: 699px;
      margin-left: 20px;
    }

    @include responsive(mobile, tablet) {
      margin-top: 20px;
      width: 100%;
      margin-left: 0;
    }
  }

  .legal-aspects-wrap {
    display: flex;
    gap: 50px;

    @include responsive(mobile, tablet) {
      flex-direction: column;
    }
  }

  .wrap {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include responsive(mobile, tablet) {
      flex-direction: column;
    }
  }
}
