.lock-open {
  #elements-list-1 .element,
  #elements-list-2 .element,
  #elements-list-3 .element,
  #elements-list-4 .element,
  #elements-list-5 .element {
    @include mobile {
      margin-bottom: 0;
    }
  }

  .list:not(:last-child) {
    @include mobile {
      margin-top: 20px;
    }
  }

  @include responsive(mobile, tablet) {
    margin-top: 60px;
  }

  .flex {
    @include responsive(mobile, tablet) {
      display: block;
    }
  }

  .border {
    @include desktop {
      width: 877px;
      margin-left: 20px;
    }

    @include responsive(mobile, tablet) {
      margin-top: 20px;
    }
  }

  .wrap-list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #elements-list-1,
    #elements-list-2,
    #elements-list-3,
    #elements-list-4,
    #elements-list-5 {
      margin: 0;
    }

    @include responsive(mobile, tablet) {
      flex-direction: column;
      align-items: flex-start;
    }

    .list {
      @include desktop {
        width: 50%;
      }
    }
  }
}
