#problem-solving {
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 49px;
    margin-top: 30px;

    @include responsive(mobile, tablet) {
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  .swiper-slide {
    padding: 30px;

    @include desktop {
      width: calc((100% / 4) - 49px);
    }

    @include tablet {
      width: calc((100% / 2) - 49px);
    }

    @include responsive(mobile, tablet) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;
    }
  }
}
