#reach-out {
  .title {
    @include desktop {
      margin-right: 20px;
    }
  }

  .border3 {
    @include desktop {
      width: 931px;
    }

    @include responsive(mobile, tablet) {
      width: 100%;
    }
  }

  .flex {
    @include responsive(mobile, tablet) {
      display: flex;
      flex-direction: column !important;
      align-content: center;
    }
  }
}
