.why-not-solve-alone {
  .border {
    @include desktop {
      width: 301px;
      margin-left: 20px;
    }
  }

  .flex {
    @include responsive(mobile, tablet) {
      display: block;
    }

    .border {
      margin-top: 20px;
    }
  }

  .wrap {
    display: flex;
    gap: 60px;
    @include responsive(mobile, tablet) {
      flex-direction: column;
    }
  }
}
