// abstracts

@import "./reset.css";

@import "./abstracts/mixins";
@import "./abstracts/variables";

// base
@import "./base/common";

// components
@import "./components/element";
@import "./components/swiper";
@import "./components/mobile-menu";
@import "./components/popup";

// layout
@import "./layout/header";
@import "./layout/footer";

// remont-pralnykh-mashyn
@import "./pages/remont-pralnykh-mashyn";

// remont-santekhniky
@import "./pages/remont-santekhniky";

// avariine-vidkryttia-zamkiv
@import "./pages/avariine-vidkryttia-zamkiv";

// uteplennya-fasadiv
@import "./pages/uteplennya-fasadiv";

// uteplennya-fasadiv
@import "./pages/contacts";

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

.section {
  padding-top: 120px;

  @include mobile {
    padding-top: 60px;
  }

  @include tablet {
    padding-top: 60px;
  }
}

.no-scroll {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.mg-top30 {
  margin-top: 30px;
}

.header {
  padding: 24px 20px;
  text-align: center;

  @include desktop {
    background: #dadfdb22;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

.flex {
  display: flex;

  @include desktop {
    align-items: center;
  }
}

html,
body {
  height: 100%;
  margin: 0;
}

.main {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.border {
  width: 100%;
  height: 1px;
  background: $accent-color;
}

.dis-non-mobile {
  @include mobile {
    display: none;
  }

  @include tablet {
    display: none;
  }
}
.dis-non-desktop {
  @include desktop {
    display: none;
  }
}

img {
  width: auto;

  @include mobile {
    max-width: 100%;
  }
}

.gap40 {
  gap: 40px;
}

.mg-top15 {
  margin-top: 15px;
}

.title {
  color: $primary-color;
  font-family: $psytype;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.55px;
  text-transform: uppercase;

  @include mobile {
    font-size: 32px;
    letter-spacing: 0.32px;
  }
}

.title2 {
  color: $primary-color;
  font-family: $psytype;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.descr {
  color: $primary-color;
  font-family: $manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subtitle {
  color: $primary-color;
  font-family: $manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// Стили для карточки
.cart {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 12%;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 155px;
    height: 155px;

    width: 185px;
    height: 185px;
  }

  &::before {
    top: 0;
    left: 0;
    border-top-left-radius: 55px;
    box-shadow: -.3px -.4px 0.3px $secondary-color;
    
  }

  &::after {
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 55px;

    // box-shadow: .4px .3px .3px $secondary-color;

    background-image: url('/src/images/TEST.svg');
  }
}

// Общие стили для слайдов
.item {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 55px;
  background: #f7f7f7 !important;

  @include desktop {
    width: 100%;
    min-height: 100%;
  }
}
