@import "./mixins";
@import "./variables";
@import "./common";
@import "./swiper";
@import "./header";
@import "./hero";
@import "./popup";
@import "./common-issues";
@import "./issues-causes";
@import "./drain-issues";
@import "./washer-troubleshooting";
@import "./machine-noise-problem";
@import "./price-list";
@import "./footer";

@import "./pages/remont-santekhniky";

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 120px;

  @include mobile {
    padding-top: 60px;
  }
}

button {
  cursor: pointer;
}

.mg-top30 {
  margin-top: 30px;
}

.header {
  background: #dadfdb22;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 24px 20px;
  text-align: center;
}

.flex {
  display: flex;
}

html,
body {
  height: 100%;
  margin: 0;
}

.main {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.border {
  width: 603px;
  height: 1px;
  background: $accent-color;
}

.dis-non-mobile {
  @include mobile {
    display: none;
  }
}
.dis-non-desktop {
  @include desktop {
    display: none;
  }
}

img {
  @include mobile {
    max-width: 100%;
  }
}

.title {
  color: $primary-color;
  font-family: $psytype;
  font-size: 55px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.55px;
  text-transform: uppercase;
}

.title2 {
  color: $primary-color;
  font-family: $psytype;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;
}

.descr {
  color: $primary-color;
  font-family: $manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.subtitle {
  color: $primary-color;
  font-family: $manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
