$manrope: "Manrope", sans-serif;
$psytype: "PsyType", sans-serif;

$primary-color: #323340;
$main-color: #222222;
$secondary-color: #007bff;
$accent-color: #3475ff;

$background-light: #f8f8f8;
$border-color: #d9d9d9;