// ------------------------------
// uteplennya-fasadiv page
// ------------------------------

.heat-home {
  @include responsive(mobile, tablet) {
    padding-top: 60px;
  }

  .border3 {
    @include desktop {
      margin-left: 20px;
      width: 727px;
    }
  }

  .wrap {
    @include responsive(mobile, tablet) {
      flex-direction: column;
    }

    .border3 {
      @include responsive(mobile, tablet) {
        margin-top: 20px;
        width: 100%;
      }
    }
  }
}

// ------------------------------
// facade-materials (Материалы фасада)
// ------------------------------

.facade-materials {
  .swiper-slide {
    @include desktop {
      width: 407px;
      min-height: 344px;
      flex-shrink: 0;
    }

    @include responsive(mobile, tablet) {
      width: 100%;
    }
  }
}

// ------------------------------
// cladding-foam (Утеплитель для фасадов)
// ------------------------------

.cladding-foam {
  .swiper-slide {
    padding: 30px;

    @include responsive(mobile, tablet) {
      padding: 25px;
    }
  }

  #elements-list-1,
  #elements-list-2,
  #elements-list-3,
  #elements-list-4 {
    @include responsive(mobile, tablet) {
      margin: 0 !important;
    }
  }

  .flex {
    @include desktop {
      align-items: center;
    }
  }

  .wrap {
    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include responsive(mobile, tablet) {
      flex-direction: column;
    }
  }

  .swiper-slide {
    @include desktop {
      width: 293px;
      min-height: 300px;
    }
  }

  .list {
    @include desktop {
      width: 50%;
    }
  }
}

// ------------------------------
// siding-covering (Покрытие фасада)
// ------------------------------

.siding-covering {
  .swiper-slide {
    padding: 30px;

    @include responsive(mobile, tablet) {
      padding: 25px;
    }
  }

  .item {
    min-height: 300px;

    @include desktop {
      width: 407px;
      flex-shrink: 0;
    }

    @include responsive(mobile, tablet) {
      width: 100%;
      max-width: 100%;
    }
  }
}

// ------------------------------
// order-facade (Заказ фасада)
// ------------------------------

.order-facade {
  .flex {
    @include responsive(mobile, tablet) {
      flex-direction: column;

      .border {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .subtitle {
    @include responsive(mobile, tablet) {
      margin-top: 20px;
    }
  }

  .border {
    @include desktop {
      width: 475px;
      margin-left: 20px;
    }
  }

  .wrap {
    display: flex;

    @include desktop {
      align-items: center;
      justify-content: space-between;
      margin-top: 30px;
      gap: 48px;
    }

    @include responsive(mobile, tablet) {
      flex-direction: column;
      align-content: center;
    }
  }
}
