// Hero Content

.hero-content {
  @include desktop {
    display: flex;
    align-items: center;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  .border {
    @include mobile {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .mobile-hero-info {
    display: none;
    @include mobile {
      margin-top: 20px;
      margin-bottom: 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @include tablet {
      margin-top: 20px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }
  }

  .content-left {
    @include desktop {
      padding-right: 56px;
    }

    @include tablet {
      margin-top: 60px;
    }
  }

  .hero-img {
    @include desktop {
      position: relative;
      top: -90px;
      z-index: -1;
    }

    @include mobile {
      width: 100%;
      height: auto;
    }

    @include tablet {
      height: auto;
    }
  }

  .hero-title,
  .hero-call {
    font-family: $psytype;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;

    span {
      color: $accent-color;
    }
  }

  .hero-title {
    font-size: 115px;
    line-height: 1;
    letter-spacing: 1.15px;
    color: $primary-color;

    @include mobile {
      font-size: 50px;
      letter-spacing: 0.55px;
      margin-top: 30px;
    }

    @include tablet {
      color: $primary-color;
      font-size: 55px;
      letter-spacing: 0.55px;
    }

    .hero-title-span {
      margin-right: 15px;

      @include mobile {
        margin-right: 5px;
      }

      @include tablet {
        margin-right: 5px;
      }
    }
  }

  .hero-call {
    color: $accent-color;
    font-family: $psytype;
    @include desktop {
      position: relative;
      margin-top: 32px;
      font-size: 32px;
      line-height: 1;
      letter-spacing: 0.32px;
    }

    @include mobile {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.24px;
      text-transform: uppercase;
    }

    @include tablet {
      font-size: 24px;
      font-weight: 400;
      letter-spacing: 0.24px;
      text-transform: uppercase;
    }
  }

  .hero-call-img {
    @include mobile {
      width: 18px;
      height: 18px;
    }
  }

  .hero-descr {
    margin-top: 32px;
    color: $primary-color;
    font-family: $manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @include mobile {
      margin-top: 0px;
    }
    @include tablet {
      margin-top: 0px;
    }
  }

  // HERO - contanct number

  .contact-number {
    color: $primary-color;
    font-family: $manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 10px;

    @include mobile {
      margin-top: 7px;
    }

    @include tablet {
      margin-top: 7px;
    }
  }

  .contact-name {
    color: $primary-color;
    font-family: $manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 10px;
  }
}

.descktop-hero-descr {
  @include mobile {
    display: none;
  }
  
  @include tablet {
    display: none;
  }
}

.mobile-hero-descr {
  @include desktop {
    display: none;
  }
}
