.issues-causes {
  .mg-top30 {
    @include mobile {
      margin-top: 20px;
    }
  }
}

.issues-causes-subtitle,
.issues-causes-descr,
.item-content-title,
.item-content-descr {
  color: $primary-color;
  font-style: normal;
  font-weight: 400;
}

.issues-causes-subtitle {
  font-family: $psytype;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  @include mobile {
    font-size: 24px;
    letter-spacing: 0.24px;
  }

  @include tablet {
    font-size: 24px;
    letter-spacing: 0.24px;
  }
}

.issues-causes-descr {
  font-family: $manrope;
  font-size: 16px;
  line-height: normal;
}

.item-content-title {
  font-family: $manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}

.item-content-descr {
  font-family: $manrope;
  font-size: 16px;
  margin-top: 15px;
}

.issues-causes-list {
  display: flex;
  gap: 48px;

  @include mobile {
    display: block;
    gap: 20px;
  }
}

.item {
  width: 407px;
  min-height: 410px;

  @include mobile {
    width: 100%;
    min-height: 414px;
  }
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 30px 30px;
  border-radius: 55px;
  background: #f7f7f7;

  @include mobile {
    width: 100%;
    padding: 20px;

    .border3,
    .item-content-title {
      margin-top: 15px !important;
    }
  }

  .number {
    color: $accent-color;
    font-family: $psytype;
    font-size: 55px;
    line-height: 1;
    letter-spacing: 0.55px;
    text-transform: uppercase;
    padding-left: 30px;

    @include mobile {
      font-size: 40px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 77px;
      height: 77px;
      top: 20px;
      left: 30px;
      border-radius: 50%;
      border: 1px solid $accent-color;

      @include mobile {
        top: 10px;
        left: 30px;
        width: 52px;
        height: 52px;
        font-size: 32px;
      }
    }
  }
}

.border3 {
  width: 347px;
  height: 1px;
  background: $accent-color;

  @include mobile {
    width: 100%;
  }
}

.swiper-container {
  display: block;
  width: 100%;
}

// Test
.swiper-wrapper {
  @media (min-width: 1024px) and (max-width: 1400px) {
    flex-wrap: wrap;
  }
}

.swiper-slide {
  background: #f7f7f7;
  border-radius: 55px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: auto;

  @media (min-width: 1024px) and (max-width: 1400px) {
    width: calc(100% / 2 - 48px);
  }
}
