.machine-noise-problem-title {
  color: $primary-color;
  font-family: $psytype;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  @include mobile {
    font-size: 32px;
  }
}

.machine-noise-problem-descr {
  color: $primary-color;
  font-family: $manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.machine-noise-problem-list {
  display: flex;
  gap: 48px;
}

.machine-noise-problem-content {
  @include desktop {
    padding: 30px;
  }

  @include mobile {
    padding: 0 !important;
  }
}

.machine-noise-problem-wrap {
  width: auto !important;
  max-width: 100%;
  min-width: auto;
  border-radius: 35px;
  background: white;

  @include desktop {
    max-width: 349px;
  }
}
