<section class="contacts section">

  <div class="flex">
    <h2 class="title">Контакти</h2>
    <div class="border"></div>
  </div>

  <div class="contact-cards">
    <div class="card">
      <h3 class="card-title">Ремонт пральних машин</h3>

      <div class="contact-cards-wrap">
        <div>
          <p><img src="./images/phone.svg" alt="Phone Icon"> <a href="tel:0979539266">0979539266</a></p>
          <p><img src="./images/mechanic.svg" alt="Mechanic Icon"> Богдан</p>
        </div>
        <div>
          <p><img src="./images/phone.svg" alt="Phone Icon"> <a href="tel:0983729776">0983729776</a></p>
          <p><img src="./images/mechanic.svg" alt="Mechanic Icon"> Вадим</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h3 class="card-title">Ремонт сантехніки</h3>

      <div class="contact-cards-wrap">
        <div>
          <p><img src="./images/phone.svg" alt="Phone Icon"> <a href="tel:+380963553868">+380963553868</a></p>
          <p><img src="./images/mechanic.svg" alt="Mechanic Icon"> Володимир</p>
        </div>
        <div>
          <p><img src="./images/phone.svg" alt="Phone Icon"> <a href="tel:0983729776">0983729776</a></p>
          <p><img src="./images/mechanic.svg" alt="Mechanic Icon"> Вадим</p>
        </div>
      </div>
    </div>

    <div class="card">
      <h3 class="card-title">Аварійне відкриття замків</h3>

      <div class="wrap mg-top30">
        <p><img src="./images/phone.svg" alt="Phone Icon"> <a href="tel:0979539266">0979539266</a></p>
        <p><img src="./images/mechanic.svg" alt="Mechanic Icon"> Богдан</p>
      </div>
    </div>

    <div class="card">
      <h3 class="card-title">Утеплення фасадів</h3>
      <div class="wrap mg-top30">
        <p><img src="./images/phone.svg" alt="Phone Icon"><a href="tel:0686467189">+380686467189</a></p>
        <p><img src="./images/mechanic.svg" alt="Mechanic Icon"> Іван</p>
      </div>
    </div>

    <div class="card">
      <h3 class="card-title">Адреса</h3>
      <div class="wrap mg-top30">
        <p><img src="./images/map.svg" alt="map"> м. Хмельницький, в. Лісогринівецька 4/1</p>
      </div>
    </div>

    <div class="card">
      <h3 class="card-title">Пошта та соціальні мережі</h3>
      <div class="wrap mg-top30">
        <p><img src="./images/mail.svg" alt="Email Icon"> emelyanov8915@gmail.com</p>
        <p><img src="./images/facebook.svg" alt="Facebook Icon"> Facebook</p>
      </div>
    </div>
  </div>
</section>


<section class="find-us-map section">
  <div class="wrap flex">
    <h2 class="title">Знайти нас на картах</h2>
    <div class="border3"></div>
  </div>

  <img style="margin-top: 60px;" class="dis-non-mobile" src="./images/map.png" alt="map">
  <img class="dis-non-desktop" src="./images/map-mobile.png" alt="map">
  </div>
</section>