<section id="battery-installation" class="section">
  <div class="flex">
    <h2 class="title">Монтування батарей у квартирах та будинках</h2>
    <div class="border3 dis-non-mobile"></div>
  </div>
  <div class="wrap gap40 mg-top30">
    <img src="/src/images/battery-installation.png" alt="battery-installation">
    <p class="subtitle">Старі радіатори не тільки не здатні повноцінно обігріти оселю, але й можуть вийти з ладу.
      Ламання
      кранів не дозволяє самостійно перекривати подачу води до батарей, тому при поломці можуть виникнути з цим
      складності. Тож вдалою заміною стануть нові радіатори, які мають спеціальні крани для регулювання тепла
      та дозволяють припинити подачу води до батарей. Наші майстри оберуть варіант підключення, проведуть демонтаж
      та монтаж батарей. При встановленні радіаторів враховуються всі правила їх монтування, щоб вони були безпечні
      при експлуатації.
      <br /><br />
      Замовити послугу можна подзвонивши до нашої компанії «Поділля майстер». Менеджер надасть вам
      консультацію та зорієнтує щодо цін на послуги заміни: труб, ванн, батарей та інших сантехнічних
      виробів та ремонту сантехніки.
    </p>
  </div>
</section>