<section id="mixer-replacement" class="section">
  <h2 class="title">Проведення заміни кранів та змішувачів</h2>
  <p class="subtitle mg-top30">
    Крани та змішувачі можуть виходити з ладу через дешевий матеріал виготовлення чи довготривалу експлуатацію.
    Головними факторами, що спричиняють ламання є забруднена вода та її високий рівень жорсткості або механічне
    зношування.
  </p>
  <ul id="elements-list-1">
    <li data-number="1" data-text="Заміна картриджа. Якщо вода не змінюється, а тече лише гаряча чи холодна."></li>
    <li data-number="2"
      data-text="Не до кінця закриті дверцята. Щоб машинка почала працювати варто ретельно закрити дверцята."></li>
    <li data-number="3"
      data-text="Дефекти змішувача. Вони можуть з’являтися через часту зміну тиску, високу жорсткість води."></li>
  </ul>

  <p class="descr">
    Фахівці нашої компанії “Поділля майстер” також проводять ремонт труб та каналізації, якщо вони протікають чи їх
    термін експлуатації вже скінчився.
  </p>
</section>