<section id="reliable-installatio" class="section">
  <h2 class="title">Надійне встановлення ванн, бойлерів та раковин</h2>
  <p class="subtitle mg-top30">У старих будинках та багатоповерхівках досить часто встановленні саме чавунні стояки.
    Вони мають
    схильність до іржавіння, тому часто протікають. Забути про проблеми з трубами можна замінивши їх на нові, що
    виготовлені з поліпропілену. Такий матеріал більш міцний та не має схильності до появу корозійних процесів. Заміна
    стояків від наших майстрів відбувається поетапно:</p>

  <div id="slider4" class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="/src/images/reliable-installation1.png" alt="reliable-installation1">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Ванна</h3>
      </div>
      <div class="swiper-slide">
        <img src="/src/images/reliable-installation2.png" alt="reliable-installation2">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Бойлерів</h3>
      </div>
      <div class="swiper-slide">
        <img src="/src/images/reliable-installation3.png" alt="reliable-installation3">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Душових кабін</h3>
      </div>
      <div class="swiper-slide">
        <img src="/src/images/reliable-installation4.png" alt="reliable-installation4">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Раковин</h3>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <p class="subtitle mg-top30">Ми можемо впоратися навіть з найскладнішими завданнями по ремонту або монтуванню та
    встановити ванну чи душову кабіну, котра точно буде гармонійно виглядати у ванній кімнаті. Якщо ви бажаєте
    зекономити місце, тоді заміна ванни на душ буде якраз підходящим варіантом. У ванній кімнаті стане більше простору,
    а сучасні душові кабіни з легкістю доповнять будь-який інтер’єр. Така заміна передбачає й зміну сантехніки на іншу,
    тому варто про це подбати та придбати потрібні вироби для монтування в душовій кабіні.
    <br>
    Наявність гарячої води дозволяє завжди швидко зігрітися або прийняти душ, ванну. Забезпечити це допоможе
    встановлення бойлера. Сьогодні існує велике різноманіття таких водонагрівачів, тому можна вибрати підходящий варіант
    за об’ємом, та моделлю.
    <br>
    Що стосується протікання унітазів або їх ламання, то ми можемо не тільки провести якісні ремонтні роботи санвузла,
    але й надійно встановити новий санітарний пристрій
    .
  </p>
</section>