<!-- remont-santekhniky -->

<section class="hero-content flex">
  <div class="content-left">

    <h1 class="hero-title">
      <span class="hero-title-span">Ремонт </span>сантехніки
    </h1>

    <!-- mobile hero info  -->
    <ul class="info-list mobile-hero-info">
      <li class="info-list__item">
        <div class="contact-number flex">
          <img class="contact-img" src="images/phone.svg" alt="Phone Icon">
          <a href="tel:0979539266" class="phone-number" data-name="Богдан" data-phone="0979539266">0979539266</a>
        </div>
        <div class="contact-name flex">
          <img class="contact-img" src="/src/images/mechanic.svg" alt="Mechanic Icon">
          <p class="name">Богдан</p>
        </div>
      </li>
      <li class="info-list__item">
        <div class="contact-number flex">
          <img class="contact-img" src="images/phone.svg" alt="Phone Icon">
          <a href="tel:0983729776" class="phone-number" data-name="Вадим" data-phone="0983729776">0983729776</a>
        </div>
        <div class="contact-name flex">
          <img class="contact-img" src="images/mechanic.svg" alt="Mechanic Icon">
          <p class="name">Вадим</p>
        </div>
      </li>
    </ul>

    <div class="hero-call">
      <a href="#" id="callMasterBtn">Викликати майстра
        <img src="/src/images/arrow-up.svg" alt="arrow-up">
      </a>
    </div>

    <div class="border mg-top30"></div>

    <p class="hero-descr descktop-hero-descr">
      Від справності сантехнічних пристроїв багато в чому залежить, як складеться наш день, чи вдасться запустити
      прання, прийняти душ та чи буде у будинку опалення та гаряча і холодна вода. Будь-які неполадки у водопровідній
      системі потрібно вирішувати якомога раніше та із залученням професійних фахівців, щоб уникнути затоплення сусідів
      чи інших негараздів. Допомогти вирішити різноманітні несправності вам допоможе саме майстер сантехнік. </p>
  </div>
  <div class="content-right">
    <img class="hero-img" src="images/remont-santekhniky.png" alt="Пральна машина">

    <!-- mobile-hero-descr -->
    <p class="hero-descr mobile-hero-descr">
      Від справності сантехнічних пристроїв багато в чому залежить, як складеться наш день, чи вдасться запустити
      прання, прийняти душ та чи буде у будинку опалення та гаряча і холодна вода. Будь-які неполадки у водопровідній
      системі потрібно вирішувати якомога раніше та із залученням професійних фахівців, щоб уникнути затоплення сусідів
      чи інших негараздів. Допомогти вирішити різноманітні несправності вам допоможе саме майстер сантехнік. </p>
  </div>

</section>