<section id="stack-replacement" class="section">
  <h2 class="title">Особливості проведення заміни стояків</h2>
  <p class="subtitle mg-top30">У старих будинках та багатоповерхівках досить часто встановленні саме чавунні стояки.
    Вони мають
    схильність до іржавіння, тому часто протікають. Забути про проблеми з трубами можна замінивши їх на нові, що
    виготовлені з поліпропілену. Такий матеріал більш міцний та не має схильності до появу корозійних процесів. Заміна
    стояків від наших майстрів відбувається поетапно:</p>

  <div id="slider3" class="swiper-container mg-top30">
    <div class="swiper-wrapper">
      <div class="swiper-slide item cart">
        <img src="/src/images/stack-replacement1.png" alt="stack-replacement1">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Демонтаж старих труб</h3>
        <p class="subtitle mg-top15">Ми використовуємо у своїй роботі професійні інструменти, тому демонтаж відбувається
          швидко.</p>
      </div>
      <div class="swiper-slide item cart">
        <img src="/src/images/stack-replacement3.png" alt="stack-replacement2">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Встановлення нових стояків</h3>
        <p class="subtitle mg-top15">Виготовлені з якісних і міцних матеріалів.</p>
      </div>
      <div class="swiper-slide item cart">
        <img src="/src/images/stack-replacement2.png" alt="stack-replacement3">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Проведення герметизування</h3>
        <p class="subtitle mg-top15">Дозволяє поліпшити з’єднання та уникнути протікання на стиках між трубами.</p>
      </div>
    </div>


    <div class="wrap-slider">
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev">
        <img src="/src/images/prev.svg" alt="prev">
      </div>
      <div class="swiper-button-next">
        <img src="/src/images/next.svg" alt="next">
      </div>

    </div>

    <p class="descr mg-top30">Після монтування стояків відбувається обов’язкова перевірка системи. Підключається подача
      води для перевірки, чи не має протікання між трубами.</p>
</section>