<section class="common-issues section">
  <div class="common-issues-align">
    <h2 class="common-issues-title">Часті поломки у пральних машинах</h2>
    <div class="border2"></div>
  </div>
  <p class="common-issues-descr mg-top30">Ламання у пральних машинах бувають найрізноманітніші, однак існують ті, що
    зустрічаються найчастіше незалежно від моделі техніки.
  </p>
  <img class="mg-top30 dis-non-mobile" src="/src/images/common-issues-desktop.png" alt="common-issues">

  <img class="common-issues-m-img dis-non-desktop" src="/src/images/common-issues-mobile.png" alt="common-issues-mobile">

</section>