<section class="drain-issues section">
    <h2 class="drain-issues-title title"> Машинка не викачує воду. Причини: </h2>

    <div class="drain-issues-content">
      <img class="drain-issues-img mg-top30" src="/src/images/drain-issues.png" alt="drain-issues">

      <div class="drain-issues-info">
        <div class="border">ED</div>
        <p class="drain-issues-info-descr mg-top30">Частою причиною неможливості зливу води є забруднення зливного фільтра. Через засмічення вода не може витікати, його очищення допоможе виправити ситуацію. Крім фільтра, через забруднення може не працювати також зливний насос і шланг. Складнішою поломкою, що призводить до того, що машинка не викачує воду після прання, є саме наявність несправності модуля управління. Через пошкодження від нього не подається сигнал на помпу, і зливання води не відбувається. Також може вийти з ладу прошивка або перегоріти електронні компоненти.</p>
      </div>
    </div>
</section>