<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-logo">
        <a href="/">
          <img class="logo" src="images/logo.svg" alt="Company Logo" />
        </a>
        <p class="copyright dis-non-mobile">2025 © Усі права захищені</p>
      </div>

      <div class="footer-services">
        <a href="/repair-washing-machines" class="footer-services-descr">Ремонт пральних машин</a>
        <a href="/plumbing-repair" class="footer-services-descr">Ремонт сантехніки</a>
        <a href="/facade-insulation" class="footer-services-descr">Утеплення фасадів</a>
        <a href="/emergency-lock-opening" class="footer-services-descr">Аварійне відкриття замків</a>
      </div>

      <div class="footer-contacts">
        <p class="footer-contacts-descr">
          <i class="icon-location">
            <img class="icon-img" src="images/map.svg" alt="">
          </i>
          <a href="https://www.google.com/maps/place/в.+Лісогринівецька+4/1,+м.+Хмельницький" target="_blank"
            rel="noopener noreferrer">
            м. Хмельницький<br />в. Лісогринівецька 4/1
          </a>
        </p>
        <p class="footer-contacts-descr">
          <i class="icon-email">
            <img class="icon-img" src="images/mail.svg" alt="mail">
          </i>
          <a href="mailto:emelyanov8915@gmail.com">emelyanov8915@gmail.com</a>
        </p>
      </div>

      <p class="copyright dis-non-desktop">2025 © Усі права захищені</p>
    </div>
  </div>
</footer>