<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo">
        <img class="logo" src="images/logo.svg" alt="Company Logo" />
      </a>

      <ul class="info-list">
        <li class="info-list__item">
          <div class="contact-number flex">
            <img class="contact-img" src="images/phone.svg" alt="Phone Icon">
            <a href="tel:0979539266" class="phone-number" data-name="Богдан" data-phone="0979539266">0979539266</a>
          </div>
          <div class="contact-name flex">
            <img class="contact-img" src="images/mechanic.svg" alt="Mechanic Icon">
            <p class="name">Богдан</p>
          </div>
        </li>
        <li class="info-list__item">
          <div class="contact-number flex">
            <img class="contact-img" src="images/phone.svg" alt="Phone Icon">
            <a href="tel:0983729776" class="phone-number" data-name="Вадим" data-phone="0983729776">0983729776</a>
          </div>
          <div class="contact-name flex">
            <img class="contact-img" src="images/mechanic.svg" alt="Mechanic Icon">
            <p class="name">Вадим</p>
          </div>
        </li>

        <li class="info-list__item social-media">
          <div class="wrap-flex">
            <img class="contact-img" src="images/facebook.svg" alt="Facebook Icon">
            <a href="https://www.facebook.com/watch/?v=887884339523506&rdid=mtMlxcy2Q70sc3Gh"
              class="social-link">Facebook</a>
          </div>
        </li>
      </ul>

      <div class="mobile-menu">
        <div class="phone-mobile">
          <img src="images/call.svg" alt="Call Icon" width="32" height="32" />
        </div>

        <button class="hamburger" aria-label="Open Menu">
          <img src="images/menu.svg" alt="Menu Icon" width="32" height="32" />
        </button>

        <img class="cross-mobile" width="24px" height="24px" src="images/cross.svg" alt="cross">
      </div>

      <div class="menu">
        <img class="cross-desctop" width="24px" height="24px" src="images/cross.svg" alt="cross">
        <ul class="menu-list">
          <li class="menu-list__item">
            <a href="/src/index.html">Ремонт пральних машин</a>
          </li>
          <li class="menu-list__item">
            <a href="/src/remont-santekhniky.html">Ремонт сантехніки</a>
          </li>
          <li class="menu-list__item">
            <a href="#">Утеплення фасадів</a>
          </li>
          <li class="menu-list__item">
            <a href="#">Аварійне відкриття замків</a>
          </li>
          <li class="menu-list__item">
            <a href="#">Контакти</a>
          </li>
        </ul>


        <!-- nav mobile -->
        <div class="nav-mobile">
          <div class="header-contacts">
            <p class="header-contacts__descr">
              <span class="icon-location">
                <img class="icon-img" src="images/map.svg" alt="map">
              </span>
              <a href="https://www.google.com/maps/place/в.+Лісогринівецька+4/1,+м.+Хмельницький" target="_blank"
                rel="noopener noreferrer">
                м. Хмельницький в. Лісогринівецька 4/1
              </a>
            </p>
            <p class="header-contacts__descr">
              <span class="icon-email">
                <img class="icon-img" src="images/mail.svg" alt="mail">
              </span>
              <a href="mailto:emelyanov8915@gmail.com">emelyanov8915@gmail.com</a>
            </p>
            <div class="info-list__item social-media">
              <div class="nav-mobile-wrap">
                <img class="icon-img contact-img" src="images/facebook.svg" alt="Facebook Icon">
                <a href="https://www.facebook.com" class="social-link" target="_blank"
                  rel="noopener noreferrer">Facebook</a>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="overlay"></div>
    </div>
</header>