<section class="issues-causes section">
  <div class="issues-causes">
    <h2 class="issues-causes-subtitle">Чому не гріє воду</h2>
    <p class="issues-causes-descr mg-top30">
      Якщо машинка не гріє воду, то скоріше за все виникли проблеми у роботі електроніки або ламання ТЕН.
      Майже всі моделі сучасних пральних машин мають систему самодіагностики, що призупиняє прання, якщо вода не
      гріється.
      Загалом, таке ламання відбувається у разі:
    </p>
  </div>

  <div id="slider1" class="swiper-container">
    <div class="swiper-wrapper mg-top30">
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">1</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Датчик температури працює неправильно</h2>
          <p class="item-content-descr">
            Саме цей елемент відповідає за нагрівання води, тому у разі його несправності машинка перестає гріти воду,
            так як до нагрівального елемента напруга просто не надходить.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">2</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Збій в електронному модулі</h2>
          <p class="item-content-descr">
            З часом контакти реле, а також інші елементи електричного ланцюга можуть перегоріти, що і призводить до
            відсутності нагріву води.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">3</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Вихід з ладу ТЕН</h2>
          <p class="item-content-descr">
            Через скупчення нальоту та бруду тепловіддача нагрівача може зменшуватися, що може призвести до його
            перегорання. При надмірно забрудненій воді в трубах, ТЕН може прослужити від 3-4 до 7-8 років.
          </p>
        </div>
      </div>
    </div>


    <div class="swiper-button-prev">
      <img src="/src/images/prev.svg" alt="prev">
    </div>
    <div class="swiper-button-next">
      <img src="/src/images/next.svg" alt="next">
    </div>

    <div class="swiper-pagination"></div>
  </div>

  <p class="item-content-descr mg-top30">
    Ремонт на дому допоможе виправити ситуацію й техніка знову буде готова до експлуатації.
  </p>
</section>