<section class="machine-noise-problem section">
  <h1 class="machine-noise-problem-title">Машина для прання гудить та шумить </h1>
  <p class="machine-noise-problem-descr mg-top30">Під час прання можна чути як гудить та шумить машинка, якщо звуки
    незначні, то це може свідчити про те, що до барабана просто потрапили сторонні предмети. Але, якщо ви чуєте нетипові
    звуки, то в такому випадку варто звернутися до технічного сервісу, так як це може свідчити про наявність
    несправностей:</p>

  <!-- Слайдер Swiper -->
  <div id="slider2" class="swiper-container mg-top30">
    <div class="swiper-wrapper">
      <div class="swiper-slide cart">
        <div class="item">
          <div class="machine-noise-problem-content">
            <div class="machine-noise-problem-wrap">
              <img src="/src/images/bearing-wear.png" alt="Зношення підшипників">
            </div>
            <div class="border3 mg-top30"></div>
            <p class="descr mg-top30">Зношення підшипників</p>
            <p class="machine-noise-problem-descr mg-top30">Таке ламання виникає з часом, про яке часто свідчать різні
              іржаві розведення на задній частині бака. Може бути присутня надмірна вібрація та сильний шум при роботі
              режиму віджиму.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide cart">
        <div class="item">
          <div class="machine-noise-problem-content">
            <div class="machine-noise-problem-wrap">
              <img src="/src/images/shock-absorber-damage.png" alt="Ушкодження амортизаторів">
            </div>
            <div class="border3 mg-top30"></div>
            <p class="descr mg-top30">Ушкодження амортизаторів</p>
            <p class="machine-noise-problem-descr mg-top30">З’являється через часте перевантаження машинки під час
              прання.
              Головними ознаками несправності амортизаторів є “підскакування” машинки та наявність стуку в барабані.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-slide cart">
        <div class="item">
          <div class="machine-noise-problem-content">
            <div class="machine-noise-problem-wrap">
              <img src="/src/images/spring-damage.png" alt="Ушкодження пружини">
            </div>
            <div class="border3 mg-top30"></div>
            <p class="descr mg-top30">Ушкодження пружини</p>
            <p class="machine-noise-problem-descr mg-top30">При довгій експлуатації пружинка може розтягнутися або
              зноситися, що спричиняє до виникнення сторонніх звуків.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="swiper-button-prev">
      <img src="/src/images/prev.svg" alt="prev">
    </div>
    <div class="swiper-button-next">
      <img src="/src/images/next.svg" alt="next">
    </div>

    <!-- Добавляем пагинацию -->
    <div class="swiper-pagination"></div>
  </div>

  <p class="descr mg-top30">
    Наша компанія «Поділля майстер» надає послуги якісного ремонту пральних машин як на дому, так і у сервісі. У нас
    працюють досвідчені фахівці, котрі зможуть точно оцінити тип несправності та швидко усунути поломки будь-якої
    складності в облаштованому сервісному центрі.
  </p>
</section>