<!-- Popup -->
<div class="popup" id="contactPopup">
  <div class="popup-content">
    <span class="close-btn">
      <img src="/src/images/cross.svg" alt="#">
    </span>
    <ul id="popupContactList">
      <li class="contact-item">
        <a class="contact-item-number" href="tel:0979539266">0979539266</a>
        <span class="contact-item-name">Богдан</span>
      </li>

      <li class="seperator"></li>

      <li class="contact-item">
        <a class="contact-item-number" href="tel:0983729776">0983729776</a>
        <span class="contact-item-name">Вадим</span>
      </li>
    </ul>
  </div>
</div>

<div class="overlay"></div>