<section class="price-list section">
  <div class="price-list-wrap flex">
    <h2 class="price-list-title">Ціни</h2>
    <div class="border"></div>
  </div>
  <div class="price-list-table mg-top30">
    <div class="price-list-column">
      <ul class="price-list-list">
        <li>
          <span class="service-name">Виклик майстра</span>
          <span class="price">500 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна амортизаторів</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна блокування люка</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна манжети люка (ущільнювальна гумка)</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна ТЕНу (нагрівального елемента)</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна насоса (помпи)</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна підшипників</span>
          <span class="price">від 2000 грн</span>
        </li>
      </ul>
    </div>
    <div class="price-list-column">
      <ul>
        <li>
          <span class="service-name">Заміна ременя приводу</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Вилучення стороннього предмета з бака</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Ремонт плати модуля</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Усунення засмічення</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Ремонт хрестовини</span>
          <span class="price">від 2000 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна тахогенератора</span>
          <span class="price">від 1000 грн</span>
        </li>
        <li>
          <span class="service-name">Заміна щіток двигуна</span>
          <span class="price">від 1000 грн</span>
        </li>
      </ul>
    </div>
  </div>
</section>