#battery-installation {
  .wrap {
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }
  }
}
