#battery-installation {
  .border3 {
    width: 526px;
    margin-left: 20px;
  }

  .wrap {
    display: flex;
    align-items: center;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }
  }
}
