#reliable-installatio {
  .swiper {
    @include tablet {
      overflow: visible;
    }
  }

  .subtitle {
    @include tablet {
      margin-top: 60px;
    }
  }

  .list {
    gap: 49px;
    justify-content: space-between;
    align-items: center;

    .item {
      width: 293px;
      min-height: auto;
      padding: 30px;

      @include mobile;
      @include tablet {
        width: 100%;
      }
    }
  }
}
