#reliable-installatio {

  .swiper-wrapper{
    margin-top: 30px;
  }

  .swiper {
    @include mobile {
      overflow: visible;
    }

    @include tablet {
      overflow: visible;
    }
  }

  .swiper-slide{
    padding: 30px;

    @include mobile{
      padding: 25px;
    }
  }

  .subtitle {
    @include tablet {
      margin-top: 60px;
    }
  }

  .list {
    gap: 49px;
    justify-content: space-between;
    align-items: center;

    .item {
      width: 293px;
      min-height: auto;
      padding: 30px;

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }
    }
  }
}
