#stack-replacement {
  .flex {
    justify-content: space-around;
    gap: 48px;
  }

  .item {
    padding: 30px;

    @include desktop {
      width: calc(100% / 3 - 48px);
    }
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }
}
