#elements-list-1,
#elements-list-2,
#elements-list-3,
#elements-list-4 {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 30px;

  .element {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    padding: 15px 0;

    .element-number {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $accent-color;
      font-family: $psytype;
      font-size: 55px;
      line-height: 1;
      letter-spacing: 0.55px;
      text-transform: uppercase;
      width: 71px;
      height: 71px;
      border-radius: 50%;
      border: 1px solid $accent-color;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mobile {
        font-size: 32px;
        letter-spacing: 0.32px;
      }

      // &::after {
      //   content: "";
      //   position: absolute;
      //   width: 71px;
      //   height: 71px;
      //   border-radius: 50%;
      //   border: 1px solid $accent-color;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;

      //   @include mobile {
      //     width: 51px;
      //     height: 51px;
      //   }
      // }
    }

    span.element-number {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .element-text {
      margin-left: 20px;
    }
  }
}
