// Контейнер для слайдера
.swiper-container {
  position: relative;
  width: 100%;
  display: block;

  @include responsive(mobile, tablet) {
    margin-bottom: 60px;
  }
}

// Стили для обёртки и слайдов
@include desktop {
  .swiper-wrapper {
    display: flex;
    gap: 48px;
  }

  .swiper-slide {
    flex-shrink: 1;
  }

  .swiper-pagination,
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}

// Пагинация (общие стили)
.swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 10px;

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: gray;
    border-radius: 50%;
    opacity: 0.5;
    transition:
      background-color 0.3s,
      opacity 0.3s;

    &-active {
      width: 19px;
      height: 6px;
      border-radius: 15px;
      background: var(--2, $accent-color);
      opacity: 1;
    }
  }
}

// Стрелки для переключения слайдов
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &::after {
    font-size: 16px;
  }

  &.swiper-button-prev {
    left: 100px;
  }

  &.swiper-button-next {
    right: 100px;
  }
}

// Кастомизация для конкретных слайдеров
#slider1 .swiper-button-prev,
#slider1 .swiper-button-next,
#slider2 .swiper-button-prev,
#slider2 .swiper-button-next,
#slider3 .swiper-button-prev,
#slider3 .swiper-button-next {
  color: $secondary-color;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  width: auto;
  left: 50%;
  transform: translate(-50%, 50%);

  @include desktop {
    display: none;
  }
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.wrap-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 60px;

  @include responsive(mobile, tablet) {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  img {
    display: block;
  }

  @media (min-width: 1024px) {
    img {
      display: none;
    }
  }
}

// Общие стили для слайдов
.item {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 55px;
  background: #f7f7f7 !important;

  @include desktop {
    width: 100%;
    min-height: 100%;
  }
}
