<section class="cladding-foam section">
  <h2 class="title2">Облицювання за допомогою пінопласту</h2>

  <p class="subtitle mg-top30"><b>Утеплення будинків пінопластом</b> є дуже поширеним видом будівельних робіт. У
    порівнянні з
    іншими видами, пінопласт є досить дешевим, але перевіреним матеріалом. Він досить легкий, тому монтування
    проводиться швидко та надійно. Його можна використовувати як для дерев’яних, цеглових, так і панельних будинків.
    До ряду головних переваг пінопласту відносять: </p>
  </div>

  <div class="wrap flex">

    <ul class="list" id="elements-list-1">
      <li class="element" data-number="1" data-text="Невисока ціна"></li>
      <li class="element" data-number="2" data-text="Міцність"></li>
      <li class="element" data-number="3" data-text="Довгий термін експлуатації"></li>
    </ul>

    <ul class="list" id="elements-list-2">
      <li class="element" data-number="4" data-text="Не займається"></li>
      <li class="element" data-number="5" data-text="Має хороші тепло- і звукоізоляційні властивост"></li>
      <li class="element" data-number="6" data-text="Не накопичує вологу"></li>
    </ul>

  </div>

  <p class="subtitle mg-top30">
    Зовнішнє облицювання дозволяє надійно захистити стіни від перемерзання та охолодження. Фахівці нашої компанії
    “Поділля Майстер” починають виконувати роботи з підготовчого етапу. Це необхідно для того, щоб матеріал був надійно
    закріплений. Ми починаємо з очищення стін, потім:
  </p>


  <div id="slider8" class="swiper">
    <div class="swiper-wrapper mg-top30">
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam1.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Зачищаємо тріщини</h3>
      </div>
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam2.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Вирівнюємо поверхню</h3>
      </div>
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam3.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Монтуємо пінопласт</h3>
      </div>
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam4.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Робимо завершальне оздоблення фасадів</h3>
      </div>

    </div>
    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev">
      <img src="/src/images/prev.svg" alt="prev">
    </div>
    <div class="swiper-button-next">
      <img src="/src/images/next.svg" alt="next">
    </div>
  </div>

  <p class="descr mg-top30">Наші фахівці можуть обшити будинок з урахуванням всіх ваших побажань, щодо вибору кольору
    та  матеріалів. </p>
</section>