<section class="facade-materials section">
  <div class="facade-materials">
    <h2 class="title">Які матеріали вибрати для утеплення фасадів?</h2>
    <p class="subtitle mg-top30">
      Обираючи підходящий матеріал для облицювання стін, перш за все варто враховувати такі критерії:
    </p>
  </div>

  <div id="slider6" class="swiper-container">
    <div class="swiper-wrapper mg-top30">
      <div class="swiper-slide cart cart">
        <div class="item-content">
          <div class="number">1</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Екстер’єр</h2>
          <p class="item-content-descr">
            Якщо такі будівельні роботи потрібно провести у приватному будинку, де вже є певний екстер’єр, то вибирати
            колір матеріалів для облицювання варто з його урахуванням.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart cart">
        <div class="item-content">
          <div class="number">2</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Вид будівлі</h2>
          <p class="item-content-descr">
            Для квартир та будинків краще обрати мінеральну вату або пінопласт, сайдинг. Для комерційних приміщень —
            пінополістирол, поліуретан.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart cart">
        <div class="item-content">
          <div class="number">3</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Бюджет</h2>
          <p class="item-content-descr">
            Вартість матеріалів для утеплення відрізняється, наприклад, пінопласт обійдеться дешевше, ніж  сайдинг. 
          </p>
        </div>
      </div>
    </div>

    <div class="wrap-slider">
      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev">
        <img src="/src/images/prev.svg" alt="prev">
      </div>
      <div class="swiper-button-next">
        <img src="/src/images/next.svg" alt="next">
      </div>
    </div>
  </div>

  <p class="descr mg-top30">
    Враховуючи всі фактори ви точно будете знати, як має виглядати утеплення вашого будинку, однак перш ніж замовляти
    послугу варто детальніше ознайомитись з видами утеплення.
  </p>
</section>