<section class="heat-home">
  <div class="wrap flex">
    <h2 class="title">Коли варто утеплювати будинок?</h2>
    <div class="border3"></div>
  </div>
  <div class="subtitle mg-top30">
    Однією з головних переваг теплоізоляції є якраз максимальне збереження тепла. Взимку температура у приміщенні не
    буде знижуватись через зовнішні стіни чи протяги, а влітку навпаки оселя не буде перегріватися. Комфортна
    температура для проживання підтримуватиметься весь час, що є перешкоджанням розвитку грибків та плісняви на
    стінах. Крім цього утеплити будинок буде доречним, якщо ви проживаєте поряд з дорогою, залізничним вокзалом та
    бажаєте ізолювати себе від постійного шуму. Сьогодні в таких роботах використовуються міцні та надійні будівельні
    матеріали, котрі мають гарну звукоізоляцію й сторонні шуми з вулиці не будуть заважати вашому сну чи відпочинку.
    Такі роботи мають проводити тільки підготовлені спеціалісти, тоді ваш будинок точно буде комфортним та
    енергоефективним.
  </div>

  <img class="mg-top30" src="/src/images/heat-home.png" alt="heat-home">
  </div>
</section>