<section class="mineral-wool-insulation section">
  <h2 class="title2">Утеплення мінеральною ватою</h2>
  <p class="subtitle mg-top30">Ще одним популярним матеріалом для утеплення є мінеральна вата. Вона має низьку
    теплопровідність, стійка до хімічного впливу та має добру шумоізоляцію. Для забезпечення відмінного утеплення стін
    мінеральною ватою, також варто дотримуватися послідовності:</p>

  <ul class="list" id="elements-list-3">
    <li class="element" data-number="1" data-text="Підготувати фасад до монтажу будівельного матеріалу"></li>
    <li class="element" data-number="2" data-text="Провести армування мінерального волокна"></li>
    <li class="element" data-number="3" data-text="Обрати та нанести декоративне покриття необхідного кольору"></li>
  </ul>

  <p class="descr">
    Так як при роботі з таким матеріалом виділяється багато пилу та дрібних частинок ми використовуємо спеціальні
    захисні засоби. 
  </p>
</section>