<section class="order-facade section">
  <div class="flex">
    <h2 class="title">Як можна замовити послугу утеплення фасадів?</h2>
    <div class="border"></div>
  </div>

  <div class="wrap">
    <img src="/src/images/order-facade.png" alt="order-facade">

    <p class="subtitle">Замовити послугу утеплення фасадів у нашій компанії “Поділля Майстер” можна зателефонувавши до
      нас. Менеджер не тільки більш детально розповість вам про етапи проведення утеплення квартири, будинку, чи
      комерційного приміщення, але й допоможе обрати відповідний матеріал та зорієнтує стосовно вартості даної послуги.
      Не
      варто переплачувати за опалення або мерзнути в оселі — замовляйте утеплення фасадів від кваліфікованих фахівців. 
    </p>
  </div>
</section>