<section class="siding-covering section">
  <h2 class="title2">Проведення обшивки сайдингом</h2>

  <p class="subtitle mg-top30">Зробити приміщення не тільки теплим, але й естетичним допоможе  обшивка сайдингом. Такий
    матеріал має вигляд панелей, які можуть бути як металевими, так і пластиковими. По зносостійкості більш надійними є
    саме металеві панелі. У порівнянні з пінопластом, сайдинг дозволяє зробити облицювання будинку під:</p>
  </div>

  <div id="slider9" class="swiper-container mg-top30">
    <div class="swiper-wrapper">
      <div class="swiper-slide item cart">
        <img src="/src/images/siding-covering1.png" alt="siding-covering">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Дерево</h3>
      </div>
      <div class="swiper-slide item cart">
        <img src="/src/images/siding-covering2.png" alt="siding-covering">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Цеглу</h3>
      </div>
      <div class="swiper-slide item cart">
        <img src="/src/images/siding-covering3.png" alt="siding-covering">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Камінь</h3>
      </div>
    </div>

    <div class="wrap-slider">
      <div class="custom-prev">
        <img src="/src/images/prev.svg" alt="prev">
      </div>
      <div class="swiper-pagination"></div>
      <div class="custom-next">
        <img src="/src/images/next.svg" alt="next">
      </div>
    </div>
  </div>

  <p class="descr mg-top30">Монтаж сайдингу ми проводимо тільки з використанням професійних інструментів та поетапно. 
    Спочатку проводиться монтаж каркаса. Цей етап є обов’язковим, так як до нього будуть приєднуватися металеві профілі.
    І тільки після встановлення каркаса проводиться наповнення утеплювачем. Завершаючим етапом є обшивка сайдингом. Ми
    дотримуємося усіх правил технологій, тому результат роботи максимально якісний. </p>

</section>