<!-- uteplennya-fasadiv -->

<section class="uteplennya-fasadiv hero-content flex">
  <div class="content-left">

    <h1 class="hero-title">
      <span class="hero-title-span">Утеплення </span>фасадів
    </h1>

    <!-- mobile hero info  -->
    <ul class="info-list mobile-hero-info">
      <li class="info-list__item">
        <div class="contact-number flex">
          <img class="contact-img" src="images/phone.svg" alt="Phone Icon">
          <a href="tel:0979539266" class="phone-number" data-name="Богдан" data-phone="0979539266">0979539266</a>
        </div>
        <div class="contact-name flex">
          <img class="contact-img" src="/src/images/mechanic.svg" alt="Mechanic Icon">
          <p class="name">Богдан</p>
        </div>
      </li>
      <li class="info-list__item">
        <div class="contact-number flex">
          <img class="contact-img" src="images/phone.svg" alt="Phone Icon">
          <a href="tel:0983729776" class="phone-number" data-name="Вадим" data-phone="0983729776">0983729776</a>
        </div>
        <div class="contact-name flex">
          <img class="contact-img" src="images/mechanic.svg" alt="Mechanic Icon">
          <p class="name">Вадим</p>
        </div>
      </li>
    </ul>

    <div class="hero-call">
      <a href="#" id="callMasterBtn">Викликати майстра
        <img src="/src/images/arrow-up.svg" alt="arrow-up">
      </a>
    </div>

    <div class="border mg-top30"></div>

    <p class="hero-descr descktop-hero-descr">
      Знову настав зимовий період, а в оселі не можна зігрітися? Забути про нестерпний холод у будинку чи квартирі
      допоможе утеплення
      з використанням спеціальних матеріалів. Такі зовнішні роботи зроблять житло більш теплим і вам не потрібно буде
      переплачувати
      за електроенергію включаючи нагрівачі для обігріву або опалення.
    </p>
  </div>
  <div class="content-right">
    <img class="hero-img" src="images/uteplennya-fasadiv.png" alt="Пральна машина">

    <!-- mobile-hero-descr -->
    <p class="hero-descr mobile-hero-descr">
      Знову настав зимовий період, а в оселі не можна зігрітися? Забути про нестерпний холод у будинку чи квартирі
      допоможе утеплення
      з використанням спеціальних матеріалів. Такі зовнішні роботи зроблять житло більш теплим і вам не потрібно буде
      переплачувати
      за електроенергію включаючи нагрівачі для обігріву або опалення. </p>
  </div>

</section>

<section class="heat-home section">
  <div class="wrap flex">
    <h2 class="title">Коли варто утеплювати будинок?</h2>
    <div class="border3"></div>
  </div>
  <div class="subtitle mg-top30">
    Однією з головних переваг теплоізоляції є якраз максимальне збереження тепла. Взимку температура у приміщенні не
    буде знижуватись через зовнішні стіни чи протяги, а влітку навпаки оселя не буде перегріватися. Комфортна
    температура для проживання підтримуватиметься весь час, що є перешкоджанням розвитку грибків та плісняви на
    стінах. Крім цього утеплити будинок буде доречним, якщо ви проживаєте поряд з дорогою, залізничним вокзалом та
    бажаєте ізолювати себе від постійного шуму. Сьогодні в таких роботах використовуються міцні та надійні будівельні
    матеріали, котрі мають гарну звукоізоляцію й сторонні шуми з вулиці не будуть заважати вашому сну чи відпочинку.
    Такі роботи мають проводити тільки підготовлені спеціалісти, тоді ваш будинок точно буде комфортним та
    енергоефективним.
  </div>

  <img class="mg-top30" src="/src/images/heat-home.png" alt="heat-home">
  </div>
</section>

<section class="facade-materials section">
  <div class="facade-materials">
    <h2 class="title">Які матеріали вибрати для утеплення фасадів?</h2>
    <p class="subtitle mg-top30">
      Обираючи підходящий матеріал для облицювання стін, перш за все варто враховувати такі критерії:
    </p>
  </div>

  <div id="slider6" class="swiper-container">
    <div class="swiper-wrapper mg-top30">
      <div class="swiper-slide cart cart">
        <div class="item-content">
          <div class="number">1</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Екстер’єр</h2>
          <p class="item-content-descr">
            Якщо такі будівельні роботи потрібно провести у приватному будинку, де вже є певний екстер’єр, то вибирати
            колір матеріалів для облицювання варто з його урахуванням.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart cart">
        <div class="item-content">
          <div class="number">2</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Вид будівлі</h2>
          <p class="item-content-descr">
            Для квартир та будинків краще обрати мінеральну вату або пінопласт, сайдинг. Для комерційних приміщень —
            пінополістирол, поліуретан.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart cart">
        <div class="item-content">
          <div class="number">3</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Бюджет</h2>
          <p class="item-content-descr">
            Вартість матеріалів для утеплення відрізняється, наприклад, пінопласт обійдеться дешевше, ніж  сайдинг. 
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <p class="descr mg-top30">
    Враховуючи всі фактори ви точно будете знати, як має виглядати утеплення вашого будинку, однак перш ніж замовляти
    послугу варто детальніше ознайомитись з видами утеплення.
  </p>
</section>

<section class="cladding-foam section">
  <h2 class="title2">Облицювання за допомогою пінопласту</h2>

  <p class="subtitle mg-top30"><b>Утеплення будинків пінопластом</b> є дуже поширеним видом будівельних робіт. У
    порівнянні з
    іншими видами, пінопласт є досить дешевим, але перевіреним матеріалом. Він досить легкий, тому монтування
    проводиться швидко та надійно. Його можна використовувати як для дерев’яних, цеглових, так і панельних будинків.
    До ряду головних переваг пінопласту відносять: </p>
  </div>

  <div class="wrap flex">

    <ul class="list" id="elements-list-1">
      <li class="element" data-number="1" data-text="Невисока ціна"></li>
      <li class="element" data-number="2" data-text="Міцність"></li>
      <li class="element" data-number="3" data-text="Довгий термін експлуатації"></li>
    </ul>

    <ul class="list" id="elements-list-2">
      <li class="element" data-number="4" data-text="Не займається"></li>
      <li class="element" data-number="5" data-text="Має хороші тепло- і звукоізоляційні властивост"></li>
      <li class="element" data-number="6" data-text="Не накопичує вологу"></li>
    </ul>

  </div>

  <p class="subtitle mg-top30">
    Зовнішнє облицювання дозволяє надійно захистити стіни від перемерзання та охолодження. Фахівці нашої компанії
    “Поділля Майстер” починають виконувати роботи з підготовчого етапу. Це необхідно для того, щоб матеріал був надійно
    закріплений. Ми починаємо з очищення стін, потім:
  </p>


  <div id="slider8" class="swiper">
    <div class="swiper-wrapper mg-top30">
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam1.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Зачищаємо тріщини</h3>
      </div>
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam2.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Вирівнюємо поверхню</h3>
      </div>
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam3.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Монтуємо пінопласт</h3>
      </div>
      <div class="swiper-slide cart">
        <img src="/src/images/cladding-foam4.png" alt="cladding-foam">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Робимо завершальне оздоблення фасадів</h3>
      </div>

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <p class="descr mg-top30">Наші фахівці можуть обшити будинок з урахуванням всіх ваших побажань, щодо вибору кольору
    та  матеріалів. </p>
</section>

<section class="siding-covering section">
  <h2 class="title2">Проведення обшивки сайдингом</h2>

  <p class="subtitle mg-top30">Зробити приміщення не тільки теплим, але й естетичним допоможе  обшивка сайдингом. Такий
    матеріал має вигляд панелей, які можуть бути як металевими, так і пластиковими. По зносостійкості більш надійними є
    саме металеві панелі. У порівнянні з пінопластом, сайдинг дозволяє зробити облицювання будинку під:</p>
  </div>

  <div id="slider8" class="swiper-container mg-top30">
    <div class="swiper-wrapper">
      <div class="swiper-slide item cart">
        <img src="/src/images/siding-covering1.png" alt="siding-covering">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Дерево</h3>
      </div>
      <div class="swiper-slide item cart">
        <img src="/src/images/siding-covering2.png" alt="siding-covering">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Цеглу</h3>
      </div>
      <div class="swiper-slide item cart">
        <img src="/src/images/siding-covering3.png" alt="siding-covering">
        <div class="border mg-top30"></div>
        <h3 class="descr mg-top30">Камінь</h3>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>

  <p class="descr mg-top30">Монтаж сайдингу ми проводимо тільки з використанням професійних інструментів та поетапно. 
    Спочатку проводиться монтаж каркаса. Цей етап є обов’язковим, так як до нього будуть приєднуватися металеві профілі.
    І тільки після встановлення каркаса проводиться наповнення утеплювачем. Завершаючим етапом є обшивка сайдингом. Ми
    дотримуємося усіх правил технологій, тому результат роботи максимально якісний. </p>

</section>

<section class="mineral-wool-insulation section">
  <h2 class="title2">Утеплення мінеральною ватою</h2>
  <p class="subtitle mg-top30">Ще одним популярним матеріалом для утеплення є мінеральна вата. Вона має низьку
    теплопровідність, стійка до хімічного впливу та має добру шумоізоляцію. Для забезпечення відмінного утеплення стін
    мінеральною ватою, також варто дотримуватися послідовності:</p>

  <ul class="list" id="elements-list-3">
    <li class="element" data-number="1" data-text="Підготувати фасад до монтажу будівельного матеріалу"></li>
    <li class="element" data-number="2" data-text="Провести армування мінерального волокна"></li>
    <li class="element" data-number="3" data-text="Обрати та нанести декоративне покриття необхідного кольору"></li>
  </ul>

  <p class="descr">
    Так як при роботі з таким матеріалом виділяється багато пилу та дрібних частинок ми використовуємо спеціальні
    захисні засоби. 
  </p>
</section>

<section class="order-facade section">
  <div class="flex">
    <h2 class="title">Як можна замовити послугу утеплення фасадів?</h2>
    <div class="border"></div>
  </div>

  <div class="wrap">
    <img src="/src/images/order-facade.png" alt="order-facade">

    <p class="subtitle">Замовити послугу утеплення фасадів у нашій компанії “Поділля Майстер” можна зателефонувавши до
      нас. Менеджер не тільки більш детально розповість вам про етапи проведення утеплення квартири, будинку, чи
      комерційного приміщення, але й допоможе обрати відповідний матеріал та зорієнтує стосовно вартості даної послуги.
      Не
      варто переплачувати за опалення або мерзнути в оселі — замовляйте утеплення фасадів від кваліфікованих фахівців. 
    </p>
  </div>
</section>