<section class="dangers-of-self-solving section">
  <div class="flex">
    <h2 class="title">Чому не варто самостійно намагатись вирішити проблему?</h2>
    <div class="border3"></div>
  </div>

  <p class="subtitle mg-top30">Більшість випадків коли необхідно аварійно відкрити двері є складними. Люди, коли
    стикаються з такою проблемою просто не знають, як саме це зробити правильно та не пошкодити замок чи двері. Фахівці
    компанії «Поділля Майстер» надають професійні послуги з відкриття замків, та не рекомендують самостійно намагатися
    їх відкривати. Бо можна навпаки випадково зробити так, що ситуацію неможливо буде виправити. Крім цього також
    не варто:</p>

  <div id="slider1" class="swiper-container">
    <div class="swiper-wrapper mg-top30">
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">1</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Майстерність та кваліфікованість</h2>
          <p class="item-content-descr">
            Наші спеціалісти мають за плечима великий досвід в наданні послуги аварійного відкриття замків.
            Ми виконуємо роботу максимально якісно, ефективно та з мінімальними пошкодженнями.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">2</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Швидке надання послуги</h2>
          <p class="item-content-descr">
            Ми добре знаємо, як це загубити ключі, чи несподівано виявити поломку замка. Саме тому,
            ми гарантуємо максимальне швидке реагування та усунення проблеми.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">3</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Працюємо 24/7</h2>
          <p class="item-content-descr">
            Зателефонувати нам ви можете у будь-який час та озвучити нашому менеджеру проблему, котра виникла. Оператор
            прийме замовлення та одразу  направить до вас фахівця.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">4</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Гарантоване виконання</h2>
          <p class="item-content-descr">
            Від наших фахівців ви ніколи не почуєте, що ваш замок розкрити неможливо. Знання, сучасний інструмент
            та досвід майстрів гарантує впевненість, що двері будуть відчиненні.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">5</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Заміна та відкриття замків</h2>
          <p class="item-content-descr">
            Є ще однією перевагою користування послугами від нашої компанії «Поділля Майстер». Якщо замок перестав
            працювати через поломку, наш фахівець може запропонувати його замінити на новий.
          </p>
        </div>
      </div>
      <div class="swiper-slide cart">
        <div class="item-content">
          <div class="number">6</div>
          <div class="border3 mg-top30"></div>
          <h2 class="item-content-title mg-top30">Безпека</h2>
          <p class="item-content-descr">
            Наша команда складається лише з професійних та досвідчених майстрів, які забезпечують безпечне відкриття
            замків без пошкоджень.
          </p>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>

    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>