<section class="legal-aspects section">
  <div class="flex">
    <h2 class="title">Що стосується юридичних аспектів</h2>
    <div class="border3"></div>
  </div>

  <div class="legal-aspects-wrap">
    <div class="wrap">
      <p class="subtitle mg-top30">
        Наша компанія працює лише у межах закону і розуміє, що іноді можуть траплятися незаконні дії. Тому для того, щоб
        наш
        фахівець зміг відкрити автомобіль, будинок чи квартиру, у замовника, що втратив ключі, має бути:
      </p>

      <ul class="list" id="elements-list-2">
        <li class="element" data-number="1" data-text="Водійське посвідчення чи паспорт"></li>
        <li class="element" data-number="2" data-text="Документи на право власності"></li>
        <li class="element" data-number="3" data-text="Договір оренди, якщо власником нерухомості є інша особа"></li>
      </ul>

      <p class="descr mg-top30">Якщо ці документи у вас через якісь причини відсутні, то відкривання дверей може бути лише в
        присутності поліції. З нашої сторони фахівець має при собі посвідчення від компанії, а також виписку з
        держреєстру
        з відповідним КВЕДом, яка надає право на відкривання замків.</p>


    </div>
    <img src="/src/images/legal-aspects.png" alt="legal-aspects">
  </div>
</section>