<section class="lock-warning section">
  <div class="flex">
    <h2 class="title">Які показники говорять що замок ось-ось заклинить?</h2>
    <div class="border3"></div>
  </div>

  <ul id="elements-list-3" class="list">
    <li class="element" data-number="1" data-text="Ключ дуже легко та швидко прокручується"></li>
    <li class="element" data-number="2" data-text="Поворот ключа відбувається з затримкою чи повільно"></li>
    <li class="element" data-number="3" data-text="Ключ важко вставити у замкову шпарину"></li>
  </ul>

  <p class="descr">Виявивши такі поломки варто не зволікати зі зверненням до професіоналів.</p>

</section>