<section class="lock-open">
  <div class="flex">
    <h2 class="title">Які послуги ми надаємо?</h2>
    <div class="border"></div>
  </div>

  <p class="subtitle mg-top30">До нас ви можете звертатися коли:</p>

  <div class="wrap-list mg-top30">
    <ul class="list" id="elements-list-1">
      <li class="element" data-number="1" data-text="Ключ залишився всередині житла"></li>
      <li class="element" data-number="2" data-text="Дитина закрилася всередині приміщення"></li>
      <li class="element" data-number="3" data-text="Необхідно провести заміну замка"></li>
      <li class="element" data-number="4" data-text="Зловмисники пошкодили замок"></li>
      <li class="element" data-number="5" data-text="Відбувся збій в механізмі"></li>
    </ul>

    <ul class="list" id="elements-list-2">
      <li class="element" data-number="6" data-text="Замок у авто, квартирі чи будинку вийшов з ладу"></li>
      <li class="element" data-number="7" data-text="Відбулось блокування автодверей"></li>
      <li class="element" data-number="8" data-text="Заклинило ключ в замку"></li>
      <li class="element" data-number="9" data-text="Загубив ключі"></li>
      <li class="element" data-number="10" data-text="Необхідна заміна серцевини замка"></li>
    </ul>
  </div>

  <p class="descr mg-top30">Крім вище перерахованих можуть бути найрізноманітніші аварійні ситуації, але вирішення
    проблеми одне
    — замовлення послуги відкривання дверей.</p>
</section>