<section id="reach-out" class="section">
  <div class="flex">
    <h2 class="title">Як з нами зв'язатися?</h2>
    <div class="border3 dis-non-mobile"></div>
  </div>
  <div class="flex gap40 mg-top30">
    <p class="subtitle">Зателефонуйте нам за номером, котрий вказаний на сайті і ми максимально швидко приїдемо вам на
      допомогу. Ми надаємо лише професійне та надійне рішення проблем пов'язаними із поломкою замків. Пам'ятайте та ні в
      якому випадку не залишайте власну безпеку на потім. Одразу звертайтесь до професіоналів з відкриття замків та
      дверей, а ми зробимо все щоб цей досвід для вас був максимально безпечним та зручним.
    </p>

    <img src="/src/images/reach-out.png" alt="reach-out">
  </div>


</section>