<section class="why-not-solve-alone section">
  <div class="flex">
    <h2 class="title">Чому не варто самостійно намагатись вирішити проблему?</h2>
    <div class="border"></div>
  </div>

  <p class="subtitle mg-top30">
    Більшість випадків коли необхідно аварійно відкрити двері є складними. Люди, коли стикаються з такою проблемою
    просто не знають, як саме це зробити правильно та не пошкодити замок чи двері. Фахівці компанії «Поділля Майстер»
    надають професійні послуги з відкриття замків, та не рекомендують самостійно намагатися їх відкривати. Бо можна
    навпаки випадково зробити так, що ситуацію неможливо буде виправити. Крім цього також не варто:
  </p>

  <div class="wrap mg-top30">
    <img src="/src/images/why-not-solve-alone.png" alt="">

    <ul class="list" id="elements-list-4">
      <li class="element" data-number="1" data-text="Намагатися відкрити двері іншим ключем"></li>
      <li class="element" data-number="2" data-text="Застосовувати силу та натискання"></li>
      <li class="element" data-number="3" data-text="Смикати сильно двері при намаганні відкрити"></li>
    </ul>

  </div>
  <p class="descr mg-top30">
    Якщо не дотримуватися вищеперерахованих порад наслідки проблеми можуть бути більш дороговартісними для господаря.
  </p>
</section>